@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
div.home{
    position: absolute;
    width: 50px;
    height: 40px;
    background: #959595;
}
span.icone-home{
    background: #494949;
    width: 30px;
    height: 30px;
}

span svg{
    width: 100%;
}